version: "3"

services:
  db:
    image: postgres:12.2
    restart: "always"
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file: .env
    networks:
      - net

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always
    networks:
      - net
    depends_on:
      - backend

networks:
  net:

volumes:
  db-data:
