:root {
    --color-bg-primary: #ed64a6;
    --color-bg-secondary: #2d2b57;

    --color-text-primary: #ffffff;
    --color-text-secondary: #78d092;
}

/*! purgecss start ignore */
.theme-dark {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #78d092;

    --color-text-primary: #ed64a6;
    --color-text-secondary: #2d2b57;
}

/*! purgecss end ignore */
