:root {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #232946;

    --color-text-primary: #ff6e6c;
    --color-text-secondary: #eebbc3;
}

/*! purgecss start ignore */
.theme-dark {
    --color-bg-primary: #ff6e6c;
    --color-bg-secondary: #927ac6;

    --color-text-primary: #FFFFFF;
    --color-text-secondary: #2cb67d;
}

/*! purgecss end ignore */
